@font-face {
  font-family: 'InterUI';
  src:
    local('InterUI'),
    url('./Fonts/InterUI/static/Inter-Regular.ttf') format('truetype');
  font-weight: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ebeef3;
  font-family: 'InterUI';
}

.app-header {
  background-color: #fff;
  padding: 15px;
  font-size: 18px;

  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;

    .header-title {
      text-decoration: none;
      color: #000;
      line-height: 28px;
    }
    .header-navbar {
      .navbar-link {
        color: #000;
        text-decoration: none;
        padding: 10px 15px;
        line-height: 28px;
      }
      & .sign-up {
        color: #52c41a;
        border: 1px solid #52c41a;
        border-radius: 5px;
      }
    }
  }
}

.list {
  max-width: 950px;
  margin: 20px auto 0 auto;

  .list-item {
    background-color: #fff;
    padding: 0;
    border: none;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0px 4px 12px 0px #00000026;
  }
}

.article {
  width: 100%;
  font-family: 'InterUI';

  .article-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header-left {
      width: 45%;
      overflow-wrap: break-word;

      .left-box {
        display: flex;
        align-items: center;
        .header-title {
          color: #1890ff;
          font-size: 20px;
          margin-right: 10px;
          line-height: 28px;
        }
        .header-likes {
          color: #000000bf;
          font-size: 12px;
          display: flex;
          align-items: center;

          .likes-btn {
            margin-right: 5px;
            background-color: #fff;
            border: none;
            cursor: pointer;
          }
        }
      }
      .header-tag {
        font-size: 12px;
        line-height: 15px;
        border: 1px solid #000;
        border-radius: 5px;
        padding: 0 5px;
        margin-right: 5px;
      }
      & .no-tag {
        color: #b4b4b4;
        border: 1px solid #b4b4b4;
      }
    }
    .header-right {
      width: 45%;
      display: flex;
      justify-content: end;

      .right-box {
        text-align: right;

        .header-username {
          font-size: 18px;
          line-height: 28px;
        }
        .header-created {
          font-size: 12px;
          line-height: 22px;
        }
      }
      .header-img {
        width: 46px;
        height: 46px;
        border-radius: 50%;
        margin-left: 10px;
      }
    }
  }
  .article-description {
    margin-top: 20px;
    font-size: 12px;
    line-height: 22px;
    color: #000000bf;
  }
}
.page {
  width: 70%;
  margin: 20px auto;
}
